/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3 {
  color: white;
  font-size: 1.5rem;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0px 0px 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid gray;
}
h1 {
  font-size: 2rem;
  font-weight: 800;
}
h3 {
  font-size: 1rem;
  border-bottom: 1px solid lightslategray;
}
p,
li {
  color: gainsboro;
  font-size: 1rem;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 200;
  line-height: 1.5;
}
b {
  font-weight: 600;
}
.learn,
.browse {
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 2rem;
  width: 50%;
}
header {
  background-color: #2d3040;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
header div {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  text-align: center;
}
header div h1 {
  width: 90%;
}
header div .social {
  font-size: 1.25rem;
  width: 50%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
header div .social a {
  text-decoration: none;
  color: #c0c1c6;
}
header div .social a:hover {
  color: white;
}
header p {
  color: #c0c1c6;
  font-size: 0.8em;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 2;
  text-transform: uppercase;
}
.frontend,
.backend,
.interests,
.selectedWorks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.frontend .sectionInfo,
.backend .sectionInfo,
.interests .sectionInfo,
.selectedWorks .sectionInfo {
  width: 55%;
}
.frontend .pictureFrame,
.backend .pictureFrame,
.interests .pictureFrame,
.selectedWorks .pictureFrame {
  width: 25%;
  margin: 3rem;
}
.frontend .pictureFrame img,
.backend .pictureFrame img,
.interests .pictureFrame img,
.selectedWorks .pictureFrame img {
  width: 100%;
  border-radius: 50%;
}
.frontend {
  background-color: #4c5c96;
}
@media screen and (max-width: 600px) {
  .frontend {
    flex-direction: column-reverse;
  }
  .frontend .sectionInfo {
    width: 75%;
  }
}
.backend {
  background-color: #45558d;
}
@media screen and (max-width: 600px) {
  .backend {
    flex-direction: column;
  }
  .backend .sectionInfo {
    width: 75%;
  }
}
.interests {
  background-color: #3f4e85;
}
@media screen and (max-width: 600px) {
  .interests {
    flex-direction: column-reverse;
  }
  .interests .sectionInfo {
    width: 75%;
  }
}
.selectedWorks {
  background-color: #2e3141;
}
.selectedWorks .sectionInfo {
  width: 85%;
  flex-direction: column;
}
.selectedWorks .sectionInfo .techBox {
  display: flex;
  align-items: baseline;
}
.selectedWorks .sectionInfo .techBox .tech {
  font-size: 1.5rem;
  letter-spacing: 1rem;
  text-align: right;
  width: 50%;
}
.selectedWorks .sectionInfo .techBox .chevron {
  font-size: 1rem;
  font-weight: 600;
  margin-right: 0.5rem;
  border: 2px solid #484A59;
  padding: 0.25rem 0.5rem;
  border-radius: 50%;
}
.selectedWorks .sectionInfo .techBox .chevron:hover {
  background-color: #484A59;
}
.selectedWorks .sectionInfo .works {
  display: flex;
  flex-flow: wrap;
}
.selectedWorks .sectionInfo .works .container {
  background-color: #353849;
  border: 0.5px solid #2e3141;
  width: 45%;
  margin: 1rem;
  margin-top: 2.5rem;
  border-radius: 0.25rem;
}
.selectedWorks .sectionInfo .works .container .screenshot img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.25rem 0.25rem 0 0;
}
.selectedWorks .sectionInfo .works .container .workInfo {
  padding: 1rem;
}
@media screen and (max-width: 840px) {
  .selectedWorks .sectionInfo .works .container {
    width: 100%;
  }
}
.selectedWorks .sectionInfo .works .container:hover {
  border: 0.5px solid silver;
}
.selectedWorks .browse {
  margin-left: 1rem;
  border: 2px solid #484A59;
  text-align: center;
  width: 100px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
}
.selectedWorks .browse a {
  text-decoration: none;
  color: white;
}
.selectedWorks .browse:hover {
  background-color: #353849;
}
@media screen and (max-width: 600px) {
  .selectedWorks {
    flex-direction: column;
  }
  .selectedWorks .sectionInfo {
    width: 75%;
  }
}
.right {
  text-align: right;
}
.switchH2F {
  width: 100%;
  height: 5rem;
  background: linear-gradient(176deg, #2d3040 50%, #4c5c96 50%);
}
.switchF2B {
  width: 100%;
  height: 5rem;
  background: linear-gradient(4deg, #45558d 50%, #4c5c96 50%);
}
.switchB2I {
  width: 100%;
  height: 5rem;
  background: linear-gradient(176deg, #45558d 50%, #3f4e85 50%);
}
.switchI2sW {
  width: 100%;
  height: 5rem;
  background: linear-gradient(4deg, #2e3141 50%, #3f4e85 50%);
}
.htmlWebHeader {
  background-color: #3f4e85;
}
.htmlWebIntro {
  background-color: #45558d;
}
.htmlWebText {
  background-color: #4c5c96;
}
.htmlWebText h3 {
  margin-top: 1rem;
}
.switchB2Iflipped {
  width: 100%;
  height: 5rem;
  background: linear-gradient(4deg, #45558d 50%, #3f4e85 50%);
}
.switchF2sW {
  width: 100%;
  height: 5rem;
  background: linear-gradient(4deg, #2e3141 50%, #4c5c96 50%);
}
.switchB2F {
  width: 100%;
  height: 5rem;
  background: linear-gradient(176deg, #45558d 50%, #4c5c96 50%);
}
