@import "less/reset.less";
@headerColor:        #2d3040;   // darkslategray 1
@headerPColor:       #c0c1c6;   // silver
@frontEndColor:      #4c5c96;   // darkslateblue 1
@backEndColor:       #45558d;   // darkslateblue 2
@interestsColor:     #3f4e85;   // darkslateblue 3
@selectedWorksColor: #2e3141;   // darkslategray 2
@selectedPanelColor: #353849;   // darkslategray 3

header {
    background-color: @headerColor;
    // display: flex;
    // justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;

        h1 {
            width: 90%;
        }

        .social {
            font-size: 1.25rem;
            width: 50%;
            margin-top: 1rem;
            display: flex;
            justify-content: space-evenly;

            a {
                text-decoration: none;
                color: @headerPColor;
            } // a

            a:hover {
                color: white;
            }
        } // .social
    } // div

    p {
        color: @headerPColor;
        font-size: .8em;
        font-family: Raleway, Helvetica, sans-serif;
        font-weight: 200;
        letter-spacing: 0.1em;
        line-height: 2;
        text-transform: uppercase;
    } // p
} // header

.frontend, .backend, .interests {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .sectionInfo {
        width: 45%;
    }

    .pictureFrame {
        max-width: 30rem;
        margin: 3rem;

        img {
            width: 100%;
            border-radius: 50%;
        } // img
    } // .pictureFrame
} // .frontend, .backend, .interests

.frontend {
    background-color: @frontEndColor;
}

.backend {
    background-color: @backEndColor;
}

.interests {
    background-color: @interestsColor;
}

.right {
    text-align: right;
}

.switchH2F { // header to frontend color switch
    width: 100%;
    height: 5rem;
    background: linear-gradient(176deg, @headerColor 50%, @frontEndColor 50%);
    // background: linear-gradient(176deg, red 50%, blue 50%);
}

.switchF2B { // frontend to backend color switch
    width: 100%;
    height: 5rem;
    background: linear-gradient(4deg, @backEndColor 50%, @frontEndColor 50%);
}

.switchB2I { // backend to interests color switch
    width: 100%;
    height: 5rem;
    background: linear-gradient(176deg, @backEndColor 50%, @interestsColor 50%);
}