@import "less/reset.less";
@headerColor:        #484C5A;   // darkslategray 1
@headerPColor:       #c0c1c6;   // silver
@frontEndColor:      #4c5c96;   // darkslateblue 1
@backEndColor:       #45558d;   // darkslateblue 2
@interestsColor:     #3f4e85;   // darkslateblue 3
@selectedWorksColor: #2e3141;   // darkslategray 2
@selectedPanelColor: #353849;   // darkslategray 3

header {
    background-color: @headerColor;
    display: flex;
    justify-content: center;
    padding: 4rem;

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .social {
            letter-spacing: 2rem;

            a {
                text-decoration: none;
                color: @headerPColor;
            } // a

            a:hover {
                color: white;
            }
        } // .social
    } // div

    p {
        color: @headerPColor;
        font-size: .8em;
        font-family: Raleway, Helvetica, sans-serif;
        font-weight: 200;
        letter-spacing: 0.1em;
        line-height: 2;
        text-transform: uppercase;
    } // p
} // header

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .sectionInfo {
        width: 45%;
    }

    .pictureFrame {
        max-width: 30rem;
        margin: 3rem;

        img {
            width: 100%;
            border-radius: 50%;
        } // img
    } // .pictureFrame
} // section

.frontend {
    background-color: @frontEndColor;
}

.backend {
    background-color: @backEndColor;
}

.interests {
    background-color: @interestsColor;
}

.right {
    text-align: right;
}